#root {
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  background: purple;
  height: 100vh;
}

h1 {
  color: orange;
  margin: auto;
  font-size: 72px;
}
h2 {
  color: orange;
  margin: auto;
  font-size: 64px;
}
